p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.roboto-slab {
  font-family: $font-serif;
}

.font-sans {
  font-family: $font-sans;
}

.font-nunito {
  font-family: 'Nunito', $font-sans;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}
